:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--secondary-color); /* Verde lime */
  font-family: 'Poppins', sans-serif;
}

.login-box {
  background: #003c3b; /* Dark teal profondo */
  backdrop-filter: blur(10px);
  padding: 2.5rem;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 320px;
}

h1 {
  color: #fff; /* Bianco */
  margin-bottom: 0.5rem;
  font-weight: 700;
}

p {
  color: #fff;
  margin-bottom: 2rem;
  font-size: 0.95rem;
}

input,
button {
  display: block;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

input {
  padding: 0.8rem 1rem;
  border-radius: 8px;
  border: 1px solid #444;
  font-size: 1rem;
  margin-bottom: 1rem;
  background-color: #222;
  color: #fff;
  transition: all 0.3s ease;
}

input::placeholder {
  color: #aaa;
}

input:focus {
  border-color: #fff;
  outline: none;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

button {
  padding: 0.8rem;
  border: none;
  border-radius: 8px;
  background-color: #ffa726; /* Arancione acceso */
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #fb8c00;
}

.footer {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #fff;
}

.footer a {
  color: #fff;
  text-decoration: underline;
  font-weight: 600;
}
