<nav class="navbar">
  <div class="navbar-inner">
    <a class="navbar-logo" routerLink="/">
      <img src="logo-navbar-.png" alt="Logo" />
    </a>
    <ul class="navbar-menu">
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/list-poke"
          routerLinkActive="active">Menù</a></li>
      <li><a routerLink="/create-poke"
          routerLinkActive="active">CreaPokè</a></li>
      <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
    </ul>
  </div>
</nav>

<div class="navbar-divider-wrapper">
  <div class="navbar-divider"></div>
</div>
